@if (TempData["Ok"] is string okMessage)
{
    <div class="alert alert-success">@okMessage</div>
}

@if (TempData["Err"] is string errMessage)
{
    <div class="alert alert-danger">@errMessage</div>
}
